
.custom-data-grid {
    border: 1px solid #ddd; 
    background-color: #cd1b1b;
  }
  
  .custom-data-grid .dx-datagrid-cell {
    padding: 8px; 
  }
  
  .custom-data-grid .dx-datagrid-cell:hover {
    background-color: #d21919; 
  }
  